<body class="text-center">
<form class="form-signIn" [formGroup]="loginForm">

  <h1 class="h3 mb-3 font-weight-bolder">
    Please sign in
  </h1>

  <div class="form-label-group">
    <input type="email"
           id="inputEmail"
           formControlName="email"
           class="form-control"
           placeholder="Email address"
           required
    >
    <label for="inputEmail" class="sr-only">Email address</label>
    <span class="text-danger"
          *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
    >
      <span *ngIf="loginForm.get('email')['errors']['required'] && loginForm.get('email').touched">Please enter your email.</span>
      <span *ngIf="loginForm.get('email')['errors']['email']">Enter correct email address.</span>
    </span>
  </div>

  <div class="form-label-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"
           id="inputPassword"
           class="form-control"
           formControlName="password"
           placeholder="Password"
           required>
    <span class="text-danger"
          *ngIf="loginForm.get('password').invalid && loginForm.get('email').touched">
    <span *ngIf="loginForm.get('password')['errors']['required']">Please enter your password</span>

  </span>
  </div>


  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"
             [disabled]="loginForm.invalid">
      Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-success btn-block"
          type="submit"
          [disabled]="loginForm.invalid"
  >
    Sign in
  </button>

  <p>Not registered? Press:</p>
  <a class="btn btn-outline-primary" [routerLink]="['/signup']" role="button">Sign up</a>
  <p class="mt-4 mb-sm-5 text-muted"> © 2019 </p>

</form>
</body>

